/*------------------------------------------------------------------------------------------------------------------------
 
 @package: Sadaka
 @author: Ouarmedia/Farouk BLALOU
 @version: 1.0
 
 --------------------------------------------------------------------------------------------------------------------- */

/* =============================================================================
  Base
========================================================================== */
body {
  font-family: "Open sans", sans-serif;
  color: #800000;
}

h1,
h2,
h3,{
  font-family: "Dosis", sans-serif;
}
h4 {
  
}

a {
  color: inherit;
}
a:hover, a:focus, a:active {
  color: #3c0101;

}
h1{
  text-align: center;
}
p {
 padding-left:45px;
 padding-right: 45px;
}


/* =============================================================================
  Layout
========================================================================== */
/* Header 
================================= */
.navbar-static-top {
  margin: 0;
  border: 0;
  color: #fff;
}

.navbar-top {
  background: #115c9b;
  font-size: 12px;
  padding: 3px 0;
}
.navbar-top .list-inline {
  margin-bottom: 0;
}
.navbar-top .header-contact li {
  margin-right: 15px;
}
.navbar-top .header-contact li .fa {
  margin-right: 5px;
}

.navbar-main {
  margin-bottom: 0;
  color: #fff;
  background: #6F0B0B;
}
.navbar-main .navbar-brand {
  border-bottom: none !important;
}
.navbar-main a:hover,
.navbar-main a:active,
.navbar-main a:focus,
.navbar-main a.is-active {
  background: none !important;
  color: inherit;
  border-bottom: 2px solid #fff;
  left: -575px;
}
.navbar-main .submenu {
  position: absolute;
  list-style: none;
  background: #1f76bd;
  padding: 0;
  width: 150px;
  left: -35px;
  visibility: hidden;
  top: 85px;
  -moz-transition: all, 0.05s;
  -o-transition: all, 0.05s;
  -webkit-transition: all, 0.05s;
  transition: all, 0.05s;
}
.navbar-main .submenu li {
  border-top: 1px solid #185b91;
}
.navbar-main .submenu li:hover {
  background: #185b91;
  -moz-transition: all, 0.3s;
  -o-transition: all, 0.3s;
  -webkit-transition: all, 0.3s;
  transition: all, 0.3s;
}
.navbar-main .submenu li a {
  width: 100%;
  border-bottom: none;
  text-decoration: none;
  padding: 5px 25px;
  display: block;
  font-size: 16px;
}
.navbar-main li a {
  font-family: "Dosis", sans-serif;
  font-size: 18px;
  padding: 20px 15px;
  border-bottom: 2px solid transparent;
  left: -570px;
}
.navbar-main li:hover .submenu {
  top: 62px;
  visibility: visible;
  -moz-transition: all, 0.25s;
  -o-transition: all, 0.25s;
  -webkit-transition: all, 0.25s;
  transition: all, 0.25s;
}
.navbar-main .icon-bar {
  background: #fff;
}



.custab{
    border: 1px solid #ccc;
    padding: 5px;
    margin: 5% 0;
    border-radius: 25px;
        }
.custab thead{
  background-color:white;
  border-radius: 75px;

    
}

.centered-form{
  margin-top: 60px;
}

.centered-form .panel{
  background: rgba(255, 255, 255, 0.8);
  box-shadow: rgba(0, 0, 0, 0.3) 20px 20px 20px;
}

.request-name{
  margin: 30px;
}
.centerblock {
  display: table;
  margin: auto;
}
.jumbotron{
  height:400px;
  margin-bottom: 0px;
  background-image: url(../images/jumbotron.jpg);
  background-position: 0% 25%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  color: white;
  text-shadow: black 0.3em 0.3em 0.3em;  
}
.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding-top:1rem;
  background-color: #800000;
  text-align: center;
  color: white;
}
.footer2{
  position: absolute;
  right: 0;
  bottom: -125%;
  left: 0;
  padding-top:1rem;
  background-color: #800000;
  text-align: center;
  color: white;
}

header.masthead {
  text-align: center;
  color: white;
  background-image: url("../images/hunger-682834_1280.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

header.masthead .intro-text {
  padding-top: 150px;
  padding-bottom: 100px;
}

header.masthead .intro-text .intro-lead-in {
  font-size: 22px;
  font-style: italic;
  line-height: 22px;
  margin-bottom: 25px;
  font-family: 'Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

header.masthead .intro-text .intro-heading {
  font-size: 50px;
  font-weight: 700;
  line-height: 50px;
  margin-bottom: 25px;
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

@media (min-width: 768px) {
  header.masthead .intro-text {
    padding-top: 300px;
    padding-bottom: 200px;
  }
  header.masthead .intro-text .intro-lead-in {
    font-size: 40px;
    font-style: italic;
    line-height: 40px;
    margin-bottom: 25px;
    font-family: 'Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }
  header.masthead .intro-text .intro-heading {
    font-size: 75px;
    font-weight: 700;
    line-height: 75px;
    margin-bottom: 50px;
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }
}
.btn-primary {
    background-color: #800000;
    border-color: #800000;
}
.btn {
    font-family: Montserrat,'Helvetica Neue',Helvetica,Arial,sans-serif;
    font-weight: 700;
  }
.btn-xl {
    font-size: 18px;
    padding: 20px 40px;
}
.btn-primary:active, .btn-primary:focus, .btn-primary:hover {
  background-color: #3c0101 !important;
  border-color: #3c0101 !important;
  color: white;
}
.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 0;
    border: 1px solid transparent;
    border-radius: 0;
}
.column {
    float: left;
    width: 33.3%;
    height: 172px; 
    text-align: center;
    
}

.column2{
    float: left;
    width: 33.3%;
    text-align: center;
      height: 75px;   
}

.column3{
    float: left;
    width: 33.3%;
      height: 172px; 
    text-align: center;
    
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
     clear: both;

}

img {
  border-radius: 50%;
}
